<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584680599965-9mvf7ctpotcqlku0qepnuvqv8v9ihini.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584680599965-9mvf7ctpotcqlku0qepnuvqv8v9ihini</string>
	<key>API_KEY</key>
	<string>AIzaSyB60mtdYYcwNF15_EW0aCS8mjp0-2SkTn4</string>
	<key>GCM_SENDER_ID</key>
	<string>584680599965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kylebeverforden.ChiSweepTracker</string>
	<key>PROJECT_ID</key>
	<string>chicago-sweep-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>chicago-sweep-tracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584680599965:ios:c0449ed24cebbac7853f74</string>
	<key>DATABASE_URL</key>
	<string>https://chicago-sweep-tracker.firebaseio.com</string>
</dict>
</plist>